* {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: black;
  }
  
  .gameTitle {
    max-width: 480px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-family: "Baskervile", sans-serif;
    color: whitesmoke;
  }
  
  .score {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "Baskervile", sans-serif;
    visibility: visible;
  }

  #playButton {
    margin: auto;
    display: flex;
    margin-top: 50px;
    font-family: "Baskervile", sans-serif;
  }
  
  .container {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    margin: auto;
    padding: 20 px;
  }
  
  .image div {
    height: 170px;
    border-radius: 100px;
    
  }
  
  .image {
    position: relative;
    cursor: grab ;

  }
  
.front.two {
  display: none;
}

  .front {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(28, 28, 28);
    background-color: black;
    visibility: visible;
  }
  
  .back {
    background-color: grey;
  }
  
  img {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .testhide {
    color: white;
    display: flex;
  }

  img.one {
    display: 
  }