* {
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body {
  background-color: black;
  pointer-events: ;
}

.gameTitle {
  /* max-width: 480px; */
  margin: auto;
  height: 100px;
  width: fit-content;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 10px; */
  font-family: 'Racing Sans One';
  font-size: x-large;
  color: whitesmoke;
}

.score {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: "Baskervile", sans-serif;
}

.clicks {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: "Baskervile", sans-serif;
}

#playButton {
  margin: auto;
  display: flex;
  margin-top: 20px;
  font-family: "Baskervile", sans-serif;
}

#container {
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  margin: auto;
  padding: 20 px;

  
}

.image div {
  height: 170px;
  border-radius: 1px;
}

.image {
  position: relative;
  cursor: grab;
}

.front {
  /* display: flex; */
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(28, 28, 28);
  background-repeat: no-repeat;
  background-size:cover;
  opacity: .8;
  background-image: url("images/raceflag.png")
}

img {
  display: grid;
  height: 100%;
  width: 100%;
  opacity: 0;
}
